<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Participacion</title>
    <link rel="stylesheet" href="./../css/app.css">
</head>
<body class="body bg-principal">
    <header>
        <h1>Ingresar Participacion</h1>
    </header>

    <main class="bg-blur">
        <div class="info">
            <h2><%= movie.titulo_original%></h2>
            <img src="<%= movie.image_url%>" alt="<%= movie.titulo_original%>">
        </div>

        <form class="form" action="/datos_par_act_pelicula3">
            <fieldset class="campo">
                <label for="nombre">Nombre del actor</label>
                <input type="text" name="nombre" id="nombre">
            </fieldset>

            <input class="btn-submit" type="submit" value="Buscar">
            <input type="hidden" name="id_pelicula" value="<%=movie.id_pelicula%>">
            <input type="hidden" name="image_url" value="<%= movie.image_url%>">
            <input type="hidden" name="titulo_original" value="<%= movie.titulo_original%>">
        </form>
           
        <a class="link-home" href="\home">Home</a>
    </main>


</body>
</html>