<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar gala</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="body bg-principal">
    <header>
        <h1>Eliminar gala</h1>
    </header>

    <main class="bg-blur">
        <form action="/eliminar_gala">
            <fieldset class="campo">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" required>
            </fieldset>

            <fieldset class="campo">
                <label for="anio_realizacion">Año de realizacion</label>
                <input type="number" name="anio_realizacion" id="anio_realizacion" required>
            
            </fieldset>

            <input class="btn-submit" type="submit" value="Buscar">

        </form>

        <% if (errors.status && errors.place === "eliminar_gala") { %>
            <p class="error-message"><%=errors.message%></p>
        <% } %>

        <% if(gala) { %>
            <div class="info">
                <p>Nombre: <%=gala.nombre%></p>
                <p>Año de realizacion: <%=gala.anio_realizacion%></p>
                <img src="./../img/<%=gala.nombre%>.jpg" alt="<%=gala.nombre%>">
            </div>


            <p>Eliminar gala?</p>
            <form action="/eliminar_gala2" method="get">
                <input class="btn-submit" type="submit" value="Eliminar">
                <input type="hidden" name="id_gala" value="<%=gala.id_gala%>">
            </form>

        <% } %>

  

        <a class="link-home" href="\home">Home</a>

    </main>

    <script src="/js/error-message.js"></script>
</body>
</html>